# Entorno: "local" o "prod"
STACY_ENV=local

# Base de datos local
LOCAL_DB_HOST=localhost
LOCAL_DB_USER=root
LOCAL_DB_PASSWORD=
LOCAL_DB_PORT=3306
LOCAL_DB_NAME=database_name

# Base de datos produccion (RDS)
PROD_DB_HOST=your-rds-endpoint.amazonaws.com
PROD_DB_USER=admin
PROD_DB_PASSWORD=your-password
PROD_DB_PORT=3306
PROD_DB_NAME=database_name

SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
FRONTEND_URL=http://127.0.0.1:5500
